* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    
    background: url(https://mcdn.wallpapersafari.com/medium/58/7/Z7x5uO.jpg);
    background-size:100%;
    /*-- seguido do mnome escolhido*/
    --ff-heading:'Epilogue', sans-serif;
    --ff-texting: 'Open Sans', sans-serif;

    --hue:250;
    --bg-primary: url(https://preview.redd.it/ttt1dzpeo2j81.png?auto=webp&s=86e652b2b192538e87e848db82d5425c639f5cc5);
    --fc-primary: hsl(var(--hue ) , 0%, 100%);
    --fc-secondary: hsl(var(--hue), 50%, 80%);
    --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1);

    font-size: 62.5%;
    --fs-body:1.6rem;
    --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
    --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

body {
    font-family: var(--ff-texting);
    background-color: var(--bg-primary);
    color: var(--fc-primary);

    font-size: var(--fs-body);
    
}

.page {
       
    max-width: clamp(33rem, 30rem + 60vw, 117rem);
    padding: 0 5rem;
    margin: 0 auto;
}



main{
    display: grid;
    
    gap: 3.2rem;
    
    animation: cima 350ms 700ms backwards;
    
}

img {
    width: 100%;
    height: auto;
}


header{
    margin: 4rem 0 4rem ;
    font-family: var(--ff-heading);
    
    text-align: center;
}

header p {
    
    color: var(--fc-secondary);
    text-transform: uppercase;
    
    line-height: 3.2rem;
    letter-spacing: 3px;
    
    font-weight: 800;
    
    margin-bottom: 1.7rem;
    
    animation: ultimo 1000ms backwards;
    animation-iteration-count: infinite;
    
}header h1{
    color: rgb(172, 71, 212);
    font-weight: 800;
    font-size: var(--fs-heading);
    line-height: 4.8rem;
    
    /* para funcionar a animação temos que dizer onde vai ser
    e por animation-name e em seguda o nome escolhido nesse caso o topdown*/
    animation: baixo 700ms;
    /*animation-direction: reverse;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    */
}
.card{
    position: relative;
    
    font-family: var(--ff-heading);
}
.card img {
    height: 31.6rem;
    /*ajusta o tamanho da imagem dentro da caixa*/
    object-fit: cover;
    filter: brightness(0.6) saturate(1.5);
    
    border-radius: 6px;
    
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease;

    opacity: 1;
    
    border: 2px solid #a3a1a1 ;
}

.card img:hover{
    transform: scale(1.1);
    filter: brightness(1)saturate(2.5);
    
    opacity: 0.5;

    border: 2px solid #fdfcfc ;
    
}

.card h2{
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;
    
    font-size: var(--fs-heading-sm);
    height: 800;
    
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    color: white;
}

.card h2 span {
    border-radius: 2rem;
    background-color: var(--fc-primary);
    font-size: var(--fs-body);
    font-weight: 400;
    color: var(--fc-secondary-dark);
    padding: 0 1.6rem;
    
    width: fit-content;
    height: 3.8rem;
    
    display: inline-flex;
    align-items: center;
}

/*animação do css*/
@keyframes baixo {
    0%{
        opacity: 0;
        transform: translateY(-15px);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cima {
    100%{
        opacity: 0;
        transform: translateY(-15px);
    }
}

@keyframes ultimo{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}
@media (min-width:700px){
  /*
    .page{
        max-width: 117rem;
        padding: 0 5rem;
    } */


    main{
        grid-template-areas: "A B " 
        "C D";
    }
    main div:nth-child(1) {
        grid-area: A;
    }
    main div:nth-child(2) {
        grid-area: B;
    }
    main div:nth-child(3) {
        grid-area: C;
    }
    main div:nth-child(4) {
        grid-area: D;
    }
    main div:nth-child(5) {
        grid-area: E;
    }
}
@media(min-width: 930px){

    main{
        grid-template-areas: "A A A A A A B B" 
        "C C D D D D D D";
    }
    main div:nth-child(1) {
        grid-area: A;
    }
    main div:nth-child(2) {
        grid-area: B;
    }
    main div:nth-child(3) {
        grid-area: C;
    }
    main div:nth-child(4) {
        grid-area: D;
    }
    main div:nth-child(5) {
        grid-area: E;
    }
}